.criminalsContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.criminal-card {
	flex-basis: 30%;
	border: dashed 1px gray;
	padding: 5px;
	margin: 5px;
}

.filters {
	display: flex;
	flex-direction: row;
}

.note-card {
	border: dashed 1px gray;
	padding: 5px;
	margin: 5px;
	width: 25%;
	height: fit-content;
}

.noteCardContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
